*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.link_comp{
    float: right;
    font-size: 14px;
    color: #F89D24;
    font-weight: bold;
    margin-right: 20px;
}
.link_int{
    float: right;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
.show p{
    border-bottom: 2px solid #F89D24;
}
@media(min-width: 768px){
    .comp_mobile{
        display: none;
    }
    #comp_desk{
        background-image: url(images/background/teacher\ bnw@2x.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 611px;
        width:100%;
        padding: 127px 209px;
    }
    .comp_area{
        width: 100%;
        margin:auto;
        display: flex;
        max-height: 362px;
        justify-content:center;
        align-items: center;
    }
    .comp_item_lat{
        background-color:#686868;
        font-size:30px;
        text-align:left;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        align-items:center;
        min-width: 300px;
        min-height:362px;
    }
    .comp_item_content{
        background-color: #262626;
        color: #FFFFFF;
        font-size: 18px;
        padding: 20px;
        min-width: 185.50px;
        min-height:362px;
        overflow: hidden;
    }
    .comp_item p{
        cursor: pointer;
        margin: auto;
        padding: 20px;
    }
    .comp_item_link{
        margin-top: 10px; 
    }
}
@media(min-width:425px) and (max-width:767px){
    #comp_desk{
        display: none;
    } 
    .comp_mobile{
        background-image: url(images/background/teacher\ bnw@2x.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
    }
    .comp_mobile button{
        color: #ffffff;
        background-color: #686868;
        font-size: 24px;
        font-weight: bold;
        text-align:center;
        padding: 13px 0px 10px 0px;
        border: none;
        outline: none;
    }
    .comp_accordion{
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 24px;
        width: 100%;
        text-align: center;
      }
      .comp_content{
        background-color: #262626;
        color: #FFFFFF;
        font-size: 24px;
        display:none;
        padding: 16px 24px;
        overflow: hidden;
        transition: 0.5s ease-out;
        border-top: 1px solid #F89D24;
        border-bottom: 1px solid #F89D24;
      }
    
}
@media(max-width:424px){
    #comp_desk{
        display: none;
    } 
    .comp_mobile{
        background-image: url(images/background/teacher\ bnw@2x.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        padding: 32px 24px;
        display: flex;
        flex-direction: column;
    }
    .comp_mobile button{
        color: #ffffff;
        background-color: #686868;
        font-size: 18px;
        font-weight: bold;
        text-align:left;
        padding: 13px 0px 10px 16px;
        border: none;
        outline: none;
    }
    .active{
        background-color: #F89D24;
    }
    .comp_accordion{
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
      }
      .comp_content{
        background-color: #262626;
        color: #FFFFFF;
        font-size: 18px;
        display:none;
        padding: 16px 24px;
        overflow: hidden;
        transition: 0.5s ease-out;
        border-top: 1px solid #F89D24;
        border-bottom: 1px solid #F89D24;
        font-family: Arial, Helvetica, sans-serif;
      }
}