*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.link_comp{
    float: right;
    font-size: 14px;
    color: #F89D24;
    font-weight: bold;
    margin-right: 20px;
}
.link_int{
    float: right;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
}
.show p{
    border-bottom: 2px solid #F89D24;
}
@media(min-width: 768px){
    .comp_mobile{
        display: none;
    }
    #comp_desk{
        background-image: url(images/background/teacher\ bnw@2x.png);
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 611px;
        width:100%;
        padding: 127px 209px;
    }
    .comp_area{
        width: 100%;
        max-width: 961px;
        height: 362px;
        margin:auto;
        display: flex;
        justify-content:center;
        align-items: center;
    }
    .comp_item_lat{
        background-color:#686868;
        font-size:32px;
        text-align:left;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        height: inherit;
    }
    .comp_item{
        height: 25%;
    }
    .comp_item_content{
        background-color: #262626;
        padding: 110px 72px;
        color: #FFFFFF;
        font-size: 18px;
        height: inherit;
    }
    .comp_item p{
        margin:40px 121px 40px 60px;
        width: 220px;
        cursor: pointer;
    }
    .comp_item_link{
        margin-top: 10px; 
    }
}
@media(min-width:425px) and (max-width:767px){
    .comp_mobile{
        display: none;
    }
    
}
@media(max-width:424px){
    .comp_desk{
        display: none;
    }
}